<?xml version="1.0" ?>
<robot name="sysID_XC430">
  <mujoco>
    <compiler strippath="false" balanceinertia="true" discardvisual="false"/>
  </mujoco>
  <link name="world">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="0.0"/>
      <inertia ixx="0.0" iyy="0.0" izz="0.0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <visual name="world_visual">
      <origin xyz="-0.00203224 0.055143 0.107941" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="assets/merged/arm_430_visual.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="arm_430_visual_material"/>
    </visual>
    <collision name="world_collision">
      <origin xyz="-0.00203224 0.055143 0.107941" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="assets/merged/arm_430_collision.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
  <link name="mount_xc430">
    <inertial>
      <origin xyz="0.0159874 2.6384e-05 0.0159224" rpy="-0.732257 -0.00144754 1.5738"/>
      <mass value="0.08645"/>
      <inertia ixx="4.3242310635605146e-05" iyy="3.422562065185067e-05" izz="2.267176871254411e-05" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <visual name="mount_xc430_visual">
      <origin xyz="0.0159874 2.6384e-05 0.0159224" rpy="-3.14159 -1.5708 0.0"/>
      <geometry>
        <mesh filename="assets/merged/mount_xc430_visual.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="mount_xc430_visual_material"/>
    </visual>
    <collision name="mount_xc430_collision">
      <origin xyz="0.0159874 2.6384e-05 0.0159224" rpy="-3.14159 -1.5708 0.0"/>
      <geometry>
        <mesh filename="assets/merged/mount_xc430_collision.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
  <link name="joint_0_body">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="0.001"/>
      <inertia ixx="1e-09" iyy="1e-09" izz="1e-09" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>
  <joint type="revolute" name="joint_0">
    <parent link="world"/>
    <child link="joint_0_body"/>
    <origin xyz="-0.0210322 0.0551293 0.185732" rpy="3.14159 -1.5708 0.0"/>
    <axis xyz="0.0 0.0 1.0"/>
    <limit lower="-1.5707963267948966" upper="1.5707963267948966" effort="100" velocity="100"/>
  </joint>
  <joint type="fixed" name="joint_0_offset">
    <parent link="joint_0_body"/>
    <child link="mount_xc430"/>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </joint>
  <material name="arm_430_visual_material">
    <color rgba="0.630593 0.65299 0.674189 1"/>
  </material>
  <material name="arm_430_collision_material">
    <color rgba="0.630593 0.65299 0.674189 1"/>
  </material>
  <material name="mount_xc430_visual_material">
    <color rgba="0.447865 0.537334 0.69801 1"/>
  </material>
  <material name="mount_xc430_collision_material">
    <color rgba="0.447865 0.537334 0.69801 1"/>
  </material>
</robot>