<?xml version="1.0" ?>
<robot name="sysID_XC430_extended">
  <mujoco>
    <compiler strippath="false" balanceinertia="true" discardvisual="false"/>
  </mujoco>
  <link name="world">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="0.0"/>
      <inertia ixx="0.0" iyy="0.0" izz="0.0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>
  <link name="base">
    <inertial>
      <origin xyz="0.0267655 -0.0456118 0.399612" rpy="1.24496 0.00507289 1.57051"/>
      <mass value="0.1339"/>
      <inertia ixx="0.0002805477996761602" iyy="0.000264497711439828" izz="5.3611688884011744e-05" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <visual name="base_visual">
      <origin xyz="0.0267655 -0.0456118 0.399612" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="assets/merged/base_visual.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="base_visual_material"/>
    </visual>
    <collision name="base_collision">
      <origin xyz="0.0267655 -0.0456118 0.399612" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="assets/merged/base_collision.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
  <joint type="fixed" name="world2base_fixed">
    <parent link="world"/>
    <child link="base"/>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </joint>
  <link name="arm_430">
    <inertial>
      <origin xyz="-0.0787491 9.81819e-06 -0.019" rpy="0.0 0.0 1.57125"/>
      <mass value="0.3549"/>
      <inertia ixx="0.0005559830440384413" iyy="0.00034075495596155874" izz="0.000291749" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <visual name="arm_430_visual">
      <origin xyz="-0.0787491 9.81819e-06 -0.019" rpy="3.14159 -1.5708 0.0"/>
      <geometry>
        <mesh filename="assets/merged/arm_430_visual.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="arm_430_visual_material"/>
    </visual>
    <collision name="arm_430_collision">
      <origin xyz="-0.0787491 9.81819e-06 -0.019" rpy="3.14159 -1.5708 0.0"/>
      <geometry>
        <mesh filename="assets/merged/arm_430_collision.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
  <link name="joint_0_body">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="0.001"/>
      <inertia ixx="1e-09" iyy="1e-09" izz="1e-09" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>
  <joint type="revolute" name="joint_0">
    <parent link="base"/>
    <child link="joint_0_body"/>
    <origin xyz="0.0215522 -0.045682 0.372238" rpy="-3.14159 -1.5708 0.0"/>
    <axis xyz="0.0 0.0 1.0"/>
    <limit lower="0.0" upper="3.14159265358979" effort="100" velocity="100"/>
  </joint>
  <joint type="fixed" name="joint_0_offset">
    <parent link="joint_0_body"/>
    <child link="arm_430"/>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </joint>
  <material name="base_visual_material">
    <color rgba="0.315732 0.44617 0.708641 1"/>
  </material>
  <material name="base_collision_material">
    <color rgba="0.315732 0.44617 0.708641 1"/>
  </material>
  <material name="arm_430_visual_material">
    <color rgba="0.634878 0.653046 0.669534 1"/>
  </material>
  <material name="arm_430_collision_material">
    <color rgba="0.634878 0.653046 0.669534 1"/>
  </material>
</robot>